<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    
    <link th:href="@{/webjars/origoni-startbootstrap-clean-blog/1.0.3/css/clean-blog.min.css}" rel="stylesheet" />
          
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/dist/jquery.min.js}"></script>
	
	<script th:href="@{/webjars/origoni-startbootstrap-clean-blog/1.0.3/js/clean-blog.min.js}"></script>
    
</head>
<body>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://ironsummitmedia.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="post-preview" th:each="post : ${postList}">
                <a href="/post/${post.id}">
                    <h2 class="post-title" th:text="${post.title}"/>
                    <h3 class="post-subtitle" th:text="${post.subtitle}" />
                </a>
                <p class="post-meta" th:text="${post.regDate}"></p>
            </div>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>