<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
    <title>blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/webjars/origoni-startbootstrap-clean-blog/1.0.3/css/clean-blog.min.css"> </link>
    <title>Blog Start</title>

</head>
<body>
<div th:text="${test}">${test}</div>
</body>
</html>